body {
  background-color:#f2e9de;
  color:#d7827e;
}
.about-docs {
  word-spacing: 0.5em;
}
h1,h2{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
.functions{
  padding-bottom: 1em;
}
button {
  background-color:#56949f;
  color: white;
  border:white;
  padding: 15px 10px;
  border-radius: 12px;
  cursor: pointer;
}
.dark-theme {
  background-color:#907aa9;
}
.save, .cancel {
  background-color:#ea9d34;
}
.cancel {
  background-color:#eb6f92;
}
textarea {
  padding: 5em;
  border-color:#56949f;
}
.footer{
  height: 3em;
  display: flex;
  justify-content: center;
}
 img{
 height: 3em;
}
.keep{
  font-size: small;
}
.fifth-container {
  justify-content: end;
}
.dark-mode {
  background-color:#d7827e;
  color:purple;
}
.blank
{
  color:white;
}
@media only screen and (min-width: 600px) {
body {
  background-color: #fffaf3;
  grid-template-columns: 20% 80%;
  display: grid;
}
.first-container {
grid-column: 1 ;
grid-row: 1;
}
.about-docs {
  text-align: right;
}
.second-container{
  grid-column: 2;
  grid-row: 1;
}
.third-container {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.fourth-container {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  justify-content: center;
}
.fifth-container {
    grid-column: 2;
    grid-row: 4;
  }
.second-container, .third-container, .fourth-container, .fifth-container, footer {
    background-color:#f2e9de;
  }
footer
{
  grid-column: 2;
  grid-row: 5;
}
}